{
   "id": "aje9aslt4vilkgpei64v",
   "service_account_id": "aje526lqhhov1qt18jln",
   "created_at": "2024-01-18T15:43:49.595639730Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----
   MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAupiaZL3Zzn3hrhGSEbq9
   2+2sFPDcKV/oPgdIayzm4r1a2tuXhVLsSCpWy/Kt2uvl00frIsps23xR1CU0L2D+
   iHlDdIoHwtwqN/vv3i7Ks19EhdXUR/mJsMMeeABUtM65H0Mh3WJyNmx08nqLOkQj
   h6tVRX+nz9TMh7Ayw9vWAQ3cUYas/RbrCc1ccV4pBHFXV36HehUUwEMOZqWhjRAS
   MUdzLn44Etd4OzUGQKlBpieEnZaN0SfH4Ys82fsN5JTt0GjSAA/s937E0L0XTJkW
   jJ12S4AIqodHUrsPfYGQps4U9w7sDACRGzPka8tUZCbigBZ+/POSFNP6/hlkA9/s
   jQIDAQAB
   -----END PUBLIC KEY-----",
   "private_key": "PLEASE DO NOT REMOVE THIS LINE! Yandex.Cloud SA Key ID \u003caje9aslt4vilkgpei64v\u003e
   -----BEGIN PRIVATE KEY-----
   MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQC6mJpkvdnOfeGu
   EZIRur3b7awU8NwpX+g+B0hrLObivVra25eFUuxIKlbL8q3a6+XTR+siymzbfFHU
   JTQvYP6IeUN0igfC3Co3++/eLsqzX0SF1dRH+Ymwwx54AFS0zrkfQyHdYnI2bHTy
   eos6RCOHq1VFf6fP1MyHsDLD29YBDdxRhqz9FusJzVxxXikEcVdXfod6FRTAQw5m
   paGNEBIxR3MufjgS13g7NQZAqUGmJ4Sdlo3RJ8fhizzZ+w3klO3QaNIAD+z3fsTQ
   vRdMmRaMnXZLgAiqh0dSuw99gZCmzhT3DuwMAJEbM+Rry1RkJuKAFn7885IU0/r+
   GWQD3+yNAgMBAAECggEABY7GCnodIqldL3IWh7CoNwS9O2JxLEpPAIn2/jo4Jki9
   jAc+XBo8L2oTa7+urfaYwdJCjqa411C8nzT8eOzKqAX0nGQAFy23lDNM0bFTGESe
   Jd5YlEw6baliHvDjlP8TRHsbZxynijdwxEgiHXoqFMBlqcxDk00jSmdVG8BQf3d9
   Jwr0wCCsGCXGeXJ63PCw87WvGEcVFamR3Jtup1p9AJOXIBLw+SSxbpWZ1Fpeilx7
   Perfj/6J5GarqTz9Qz9diIxXbSMQJH9KoNdFmo2/bx3KgQ4wsGWA8pmb8IcyLYz+
   fQhYa3wHqc0iXx+/SwOOBOcu+sZ/lliXvWOtIYPsAQKBgQDIiVbP5Y9QKOSm5mn5
   5kdC+AoupVhaLG84lWYZpQVQilrcJ8cdncc9VJN4GJ/q+gm3T53osGcvD550UW1Z
   s1tZ8yIS4ZB0b65X7yxntAkIVL9s359jb3/kMxfsLMdrUs7meU0utaxWFB6mnPMI
   N1amNnez4jTMLfdtzn09YnZW2QKBgQDuND0BaKeTbUEFYekggV7Qpe2vIZECWT/2
   lMAnBDhZYZm+ah3JInv1OaSmCAKp/IHJ16k84gzwkM1Mvfn3TwtPrdE94EUS0VS8
   mfjCPeTHSQSk2fNNSOe8SlF+UFDfda3dcEU4o2KBm2/5DYSSG6culpPK2PpEN5/z
   OJrFbNC61QKBgQDBHonMsgzerFLua8y5DUupMYdUvoSkalA9lJp7rdC9bE/t3hzB
   57T82hseN9ChkGOU9gZjFKZ5yrfU2qnNDY22xQ8WUcU0bGzgYANKZzWfoUWrynsL
   XlAyagXquoDdWSTJDR4IEorBZqTR3SmqyugWLzP9tqUT0FyMkaNIXy8JmQKBgQDJ
   QgG5Sv8rJMgnEA60lBnUGB22NpoabeYJJK0lSf+CJWCM7YO1CRnKm6VtUp9NmDbg
   nwIymptsNiv/hxPHzFU2QRnlObOirpL1tvHizACcECmIT02uIscI45HvM1ThOMBp
   tA4ISKNV9kqpFq7H8+1RA5Bjdugc8xKFoXHDFKlW8QKBgQCeKgEDpajiza/p0fr0
   PPK0mQz9s1XTxCI655nYsE6FDh9t/tXVQbHQL+wtWHEKwx/LP3Oau0tz0MRhp9Tn
   riQCSB9nBqi/5WKjpO6zOVc+mU5cC1Pii6AhbNEElk0
   jHXrerXLN4eZigwAvPfc\nHY8SRk4K41RSES3ZabFYsoFXfg==
-----END PRIVATE KEY-----"
}
