{
	"sa_path": "./service_account_key_file.example",
	"id_directory": "id_directory",
	"source_image_family": "bubuntu-1604-lts",
	"image_name": "image_name-{{timestamp}}",
	"image_family": "image_family",
	"user": "user",
	"platform_id": "platform_id",
	"use_ipv4_nat": "use_ipv4_nat"
}
